In [1]:
class moduleType:

	def __init__(self):
		self.course = None
		self.title = None
		self.au = None
		self.course_type =  None
		self.status = None
		self.su_grade = None
		self.index_number = None
		self.class_type = None
		self.day = None
		self.time = None
		self.venue = None
		self.remark = None

	def __str__(self):
		return 'Course: {} \nTitle: {} \nAU: {} \nCourse Type: {} \nStatus: {} \nS/U: {} \nClass Type: {} \nDay: {} \nTime: {} \nVenue: {} \nRemark: {} \n'.format(\
			self.course, self.title, self.au, self.course_type, self.status, self.su_grade, self.class_type, self.day, self.time, self.venue, self.remark)

In [115]:
import pandas as pd
from icalendar import Calendar, Event

df = pd.read_html(open("try.html"),header=0)
df = df[0]

# remove any exempted module
df = df[df.Status != 'EXEMPTED']
df.reset_index(inplace=True)

In [116]:
df.head()

,index,Course,Title,AU,CourseType,CourseGroup,S/U Grade option,IndexNumber,Status,Choice,ClassType,Group,Day,Time,Venue,Remark
0,0,CC0003,ETHICS & CIVICS IN A MULTICULTURAL WORLD,2.0,CORE,INTERDISCIPLINARY COLLABORATIVE CORE,NaN,10571.0,REGISTERED,NaN,TUT,T69,FRI,1230-1420,LHN-TR+36,"Teaching Wk2,4,6,8,10,12"
1,1,CC0005,HEALTHY LIVING & WELLBEING,3.0,CORE,INTERDISCIPLINARY COLLABORATIVE CORE,NaN,10601.0,REGISTERED,NaN,TUT,T17,TUE,1030-1220,LHN-TR+10,Teaching Wk3-13
2,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,TUT,T17,TUE,1030-1220,ONLINE,"Teaching Wk1,2"
3,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,LEC/STUDIO,LE2,FRI,1630-1720,ONLINE,Teaching Wk1-13
4,5,MH1812,DISCRETE MATHEMATICS,3.0,CORE,NaN,NaN,10137.0,REGISTERED,NaN,TUT,SC13,WED,1330-1420,TR+37,Teaching Wk2-13

In [5]:
df.loc[0]['Time'].split('-')

['1230', '1420']

datetime.timedelta(seconds=6600)

In [60]:
def getDuration(timeString):
    timestamp1 = datetime.datetime.strptime(timeString.split('-')[0],"%H%M")
    timestamp2 = datetime.datetime.strptime(timeString.split('-')[1],"%H%M")
    return timestamp2 - timestamp1

def getStartDate(firstDayOfSchool = datetime.date(2021,8,9)): # get based on fixed value first
    return firstDayOfSchool - datetime.timedelta(days=firstDayOfSchool.weekday())

def getDay(dayString):
    dayDict = {'MON' : 0, 'TUE' : 1, 'WED' : 2, 'THU' : 3, 'FRI' : 4, 'SAT' : 5}
    return dayDict[dayString]

def getModuleStartDate(remark, day, startDate):
    # find starting week
    startWeek = int(remark[remark.find('Wk')+2])
    return startDate + datetime.timedelta(days = startWeek *7) + datetime.timedelta(days = day)

def getModuleStartTime()

def getModuleDateAndTime()
    datetime.datetime.combine(datetime.date(2011, 1, 1), 
                          datetime.time(10, 23))

def getRecurrences(remark):
    remark = remark[remark.find('Wk')+2:]
    # find if there are any commas
    if ',' in remark: # bi-weekly schedule
        return len(remark.split(','))
    else:
        a,b = remark.split('-')
        return b-a+1
def isBiWeekly(remark):
    remark = remark[remark.find('Wk')+2:]
    # find if there are any commas
    if ',' in remark: # bi-weekly schedule
        return True

In [45]:
s = "Teaching Wk1-4"
s[s.find('Wk')+2:].split('-')

['1', '4']

In [120]:
import datetime
import pytz
import numpy as np

cal = Calendar()

currentCourse = None
for item in range(len(df)):
    # try before recess week
    print(df.loc[item]['Course'])
    if type(df.loc[item]['Course']) == str:
        currentCourse = df.loc[item]['Course']
        currentTitle = df.loc[item]['Title']
    
    event = Event()
    event.add('summary', currentCourse + df.loc[item]['ClassType'] + currentTitle)
    event.add('description', df.loc[item]['IndexNumber'] )
    event.add('dtstart', getModuleStartDate(df.loc[item]['Remark'], getDay(df.loc[item]['Day']), getStartDate()))
    print(getModuleStartDate(df.loc[item]['Remark'], getDay(df.loc[item]['Day']), getStartDate()))
    
    event.add('duration', getDuration(df.loc[item]['Time']))
    event.add('dtstamp', datetime.datetime.now())
    event.add('location', df.loc[item]['Venue'])
    event.add('rrule', {'freq' : 'weekly', 'count' : 8})
    if isBiWeekly(df.loc[item]['Remark']):
        event['rrule']['interval'] = 2
    cal.add_component(event)


f = open('{}.ics'.format('Test'), 'wb')
f.write(cal.to_ical())
f.close()

CC0003
2021-08-27
CC0005
2021-08-31
nan
2021-08-17
nan
2021-08-20
MH1812
2021-08-25
nan
2021-08-18
SC1003
2021-08-19
nan
2021-08-19
nan
2021-08-16
SC1005
2021-09-02
nan
2021-08-26
nan
2021-08-24
nan
2021-08-17
nan
2021-08-19
SC1013
2021-08-17
nan
2021-09-14
nan
2021-09-16
nan
2021-08-16
AB1301
2021-08-16
BU8101
2021-10-05
nan
2021-08-17
nan
2021-10-05
nan
2021-10-05

In [84]:
type(df.loc[5][0])

str

In [107]:
df.loc[5]['Course']

'MH1812'